body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forget-password-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.forget-password-container p {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: large;
    color: #333;
}

.forget-password-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.forget-password-container input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.forget-password-container input[type="submit"]:hover {
    background-color: #333;
}

.forget-password-container a {
    display: block;
    margin-top: 10px;
    color: #666;
    text-decoration: none;
}

.forget-password-container a:hover {
    color: #000;
}

.forget-password-container .error-message {
    color: red;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}
